@charset "utf-8";

$color-primary: #080A0F;    // 主色调
$color-asdebar:#43505D;//侧边栏背景色
$color-deepblue:#181C27;//深蓝色
$color-lightblue:#4F5C80;//字体浅蓝色
$color-red:#FC5C5C; //标题红色
$color-white:#FFFFFF ; //背景白色
$button-hover:#298CEF;//红色
$color-zibai:#EBF2FF;//紫白色
$color-cheapccc:#999999;//字体浅灰色
$color-lhblack:#2B2C2E;//导航条灰色
$color-deeporange:#FBBD02;//深橙色
$color-zise:#181C27;//深紫色
$color-deccc:#777779;//深灰色
$color-icon:#8F7848;//图标橙色
$color-black:#303133;//黑色
$color-ccc:#EBEBEB;//灰色个人中心
$color-ngreen:#13CDA7;//绿色个人中心
$color-active:  #ffdf4a;    // 活动主色
$color-warning: #e99900;    // 黄色
$color-purple:  #8a49e8;    // 紫色
$color-pink:    #ff2366;    // 粉色
$color-green:   #7ed321;    // 绿色
$color-bule:    #0ba7ed;    // 蓝色
$color-orange:  #EAC71C;    // 橙色
$color-border:  #D9D9D9;
$color-fontsingle:  #868687; //字体灰色
$color-invalid:  #626262;    //无效灰色
$color-valid:    #EAC71C;    //有效橙色
$color-font:    #333;        //字体主色
$color-inputbg:    #333137;        





